<div class="container">
  <mat-card>
    <mat-card-title>Form</mat-card-title>
    <mat-card-content>
      <form class="main" [formGroup]="myForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input autocomplete="off" matInput formControlName="name"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="name.hasError('required')">
          Please enter username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input autocomplete="off" type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.errors?.forbiddenName">
          Email already exists
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input autocomplete="off" matInput formControlName="password" type="password"   [errorStateMatcher]="matcher">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
            <mat-form-field>
              <mat-label>Repeat password</mat-label>
              <input type="password" autocomplete="off" matInput formControlName="repeatPassword"  [errorStateMatcher]="matcherPwd">
                      <mat-error *ngIf="myForm.errors?.notSame">
                        Passwords do not match
                      </mat-error>
            </mat-form-field>
                            <div *ngFor="let arrayItem of arrayItems; let i=index">
                            
                              <label>Name: {{ arrayItems[i].name }} Email {{ arrayItems[i].email }}</label>

                              </div>
                                                            <button [disabled]="arrayItems.length == 0" mat-button type="button" (click)="removeItem()">Remove friend</button>
          <mat-error *ngIf="arrayItems.length == 0">
            Insert One friend
          </mat-error>
           <button mat-button type="submit" (click)="submit()">Submit</button>            
      </form>

                    <form class="friend" [formGroup]="friendForm">
                            <mat-form-field>
                              <mat-label>Friend name</mat-label>
                              <input autocomplete="off" matInput formControlName="name" [errorStateMatcher]="matcher">
                              <mat-error *ngIf="friendName.hasError('required')">
                                Please enter username
                              </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>Email</mat-label>
                              <input autocomplete="off" type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                                placeholder="Ex. pat@example.com">
                              <mat-error *ngIf="friendEmail.hasError('email') && !friendEmail.hasError('required')">
                                Please enter a valid email address
                              </mat-error>
                              <mat-error *ngIf="friendEmail.errors?.forbiddenName">
                                Email already exists
                              </mat-error>
                              <mat-error *ngIf="friendEmail.hasError('required')">
                                Email is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>
                            <button [disabled]="!friendForm.valid" mat-button type="button" (click)="addItem()">Add</button>
                            
                    </form>     

    </mat-card-content>
  </mat-card>
</div>
